.grid-container-footer {
    display: grid;
    grid-template-areas: "footer-logo door-nav contact social-links";
    background-color: #4B5E57;
    padding: 40px 15% 40px 15%;

  }

  .footerLinks {
    padding: 0;
  }

  .footerLinks li {
    list-style: none;
    font-family: 'Karla', sans-serif;
  }

  .footerLinks a {
    color: white;
    text-decoration: none;
  }

  .footer-logo img {
    height: 200px;
  }

  .footer-logo {
    grid-area: footer-logo;
  }

  .door-nav {
    grid-area: door-nav;
  }

  .contact {
    grid-area: contact;
  }

  .social-links {
    grid-area: social-links;
  }
