@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'Markazi Text', serif; */
/* font-family: 'Karla', sans-serif; */

h5 {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: white;
}

/* Nav */

.navbar {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1% 15% 0% 15%;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.navLinks li {
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  color: black;
}



/* Footer */

.grid-container-footer {
  display: grid;
  grid-template-areas: "footer-logo door-nav contact social-links";
  background-color: #4B5E57;
  padding: 40px 15% 40px 15%;

}

.footerLinks {
  padding: 0;
}

.footerLinks li {
  list-style: none;
  font-family: 'Karla', sans-serif;
}

.footerLinks a {
  color: white;
  text-decoration: none;
}

.footer-logo img {
  height: 200px;
}

.footer-logo {
  grid-area: footer-logo;
}

.door-nav {
  grid-area: door-nav;
}

.contact {
  grid-area: contact;
}

.social-links {
  grid-area: social-links;
}
